In [1]:
##demographic calculator

In [159]:
#import nessesary modules
import pandas as pd
import numpy as np

In [160]:
##read csv file
df=pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
#Finding how many people are in each race
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [24]:
#finding the average age of men method 1 (intuitive for me)
hf=df.loc[df['sex'] == 'male']

In [26]:
hf['age'].mean()

38.58164675532078

In [28]:
#method 2
#I believe there is a better way of doing it
(df.loc[df['sex'] == 'male', 'age']).mean()

38.58164675532078

In [31]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,male,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,male,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,male,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,male,15024,0,40,United-States,>50K

In [37]:
(df['education'] == 'Bachelors').value_counts()

False    27206
True      5355
Name: education, dtype: int64

In [47]:
percentage_of_bachelors = (5355/(27206+5355))*100

In [48]:
percentage_of_bachelors

16.44605509658794

In [41]:
#method2

In [11]:
#either should be fine 
h=(df['education'][(df['education'] == 'Bachelors')]).value_counts()
#h=len(df['education'][(df['education'] == 'Bachelors')])

In [33]:
#below ia two way to get the total, I have just used the better way as it makes more sense
#total_education = len((df['education'][(df['education'] != 'Bachelors')])) +h

#better way 
total_education = len(df['education'])
total_education

32561

In [49]:
#finding percentage and rounding to 2 dp
percentagee_of_bachelors = round(((h/total_education)*100),2)

In [56]:
print("The percentage of Bachelors is " + str(percentagee_of_bachelors) + "%")

The percentage of Bachelors is 16.45%

In [79]:
#percentage of people with higher education task
# using conditional selection, a handy tool, or means it will include all instances of what I specify
higher_education=len(df['education'][(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] =='Doctrate')])

In [121]:
percentage_of_higher_education= round((higher_education/total_education)*100,2)

In [80]:
print("The percentage of people with a higher education  is " + str(percentage_of_higher_education) + "%")

The percentage of people with a higher education  is 21.74%

In [107]:
#finding how many people with higher education earn >50K
#creating a new dataframe with what I am going to be focusing on
#This helps me query better as the dataframe is more focused
hf=df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]

In [138]:
#some people may not like the variable names but it is an alternative way of dealing with outputs 
number_of_HE_with_over50K=len(hf['salary'][(hf['salary'] == '>50K')])

In [139]:
#len() is a handy tool as it will give you how many columns, better than
#value_counts() most of the time because we are ususally dealing with more than 1 option (true or false)
number_of_people_withHE = len(hf['education'])

In [144]:
Percentage_of_HE_with_over50K = round((number_of_HE_with_over50K/number_of_people_withHE )*100,2)

In [186]:
# finding the percentage relative to the whole dataset and not only the focused dataset
Percentage_of_HE_with_over50K_total = round((number_of_HE_with_over50K/len(df) )*100,2)
print("The percentage of people with higher education and earn over 50K relative to other higher educationeers is " +
      str(Percentage_of_HE_with_over50K) + "%")
print("The percentage of people with higher education and earn over 50K relative to everyone is " +
      str(Percentage_of_HE_with_over50K_total) + "%")

The percentage of people with higher education and earn over 50K relative to other higher educationeers is 46.54%
The percentage of people with higher education and earn over 50K relative to everyone is 10.71%

In [146]:
#What percentage of people without advanced education make more than 50K?

In [167]:
#creating a more focused dataset
mf=df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]

In [172]:
#find amount of peoplle without Higher education
people_without_HE=len(mf)

In [170]:
#Number of people without higher education and earn over 50K
No_HE_with_over50K=len(mf['salary'][(mf['salary'] == '>50K')])

In [171]:
No_HE_with_over50K

4355

In [177]:
#Percentage calculation
percent_of_people_with_no_HE_over50K = round((No_HE_with_over50K/people_without_HE)*100,2)

In [179]:
print("The proportion of people without higher education that earn over 50,000 dollars relative to other people without a higher education a year is " 
      + str(percent_of_people_with_no_HE_over50K) +"%")

The proportion of people without higher education that earn over 50,000 dollars relative to other people without a higher education a year is 17.37%

In [180]:
#Percentage calculation relative to the whole dataset
percent_of_people_with_no_HE_over50K_total = round((No_HE_with_over50K/len(df))*100,2)

In [183]:
print("The proportion of people without higher education that earn over 50K relative to everyone a year is " 
      + str(percent_of_people_with_no_HE_over50K_total) +"%")

The proportion of people without higher education that earn over 50K relative to everyone a year is 13.37%

In [191]:
#What is the minimum number of hours a person works per week?
#min() is a handy tool which can quickly find the lowest value in a column/dataset
df['hours-per-week'].min()

1

In [196]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [207]:
#creating a new dataset with minimum hour people 
lf=(df.loc[df['hours-per-week']<=1]) #people who work the minimum hours

In [213]:

len(lf.loc[(lf['salary']== ">50K")]) #number of people who make more than 50k and work minimum hours
#very lucky people :(,

2

In [214]:
#Percentage relative to all min hour workers
percentage_of_high_earners_and_min_hours = ((len(lf.loc[(lf['salary']== ">50K")]))/len(lf))*100

In [221]:
print("The percentage of people who work the minimum hours and still earn >50K relative to other minimum hour people is    " 
      +  str(percentage_of_high_earners_and_min_hours)
      +"%")

The percentage of people who work the minimum hours and still earn >50K relative to other minimum hour people is    10.0%

In [233]:
#percentage of high min hour earners relative to whole dataset
percentage_of_high_earners_and_min_hours_nonrelative = round(((len(lf.loc[(lf['salary']== ">50K")]))/len(df))*100,3)
print("The percentage of people who work the minimum hours and still earn >50K relative to evereyone is  " 
      + str(percentage_of_high_earners_and_min_hours_nonrelative)
      +"%")

The percentage of people who work the minimum hours and still earn >50K relative to evereyone is  0.006%

In [239]:
#What country has the highest percentage of people that earn >50K and what is that percentage?

In [270]:
#all the countries where people earn over 50K
num_of_over50K=len(df.loc[df['salary']=='>50K','native-country'])

7841

In [256]:
#finding the highest number of people for a country earning over 50K
#handy tool again, using conditional selection, the & operator
##maybe I could of used the .mode() function but at the time this was the most intutitve 
num_of_highest_country_over50k=len(df.loc[(df['salary']=='>50K') & (df['native-country']== 'United-States')])

In [257]:
#percentaage relative to other earners from all countries
highest_earning_countrypercent=  round(((num_of_highest_country_over50k/num_of_over50K)*100),2)

In [259]:
print("The percentage of the highest earning country (>50K) is " 
      +str(highest_earning_countrypercent) +"%")

The percentage of the highest earning country (>50K) is 91.46%

In [263]:
#Identify the most popular occupation for those who earn >50K in India
#making another focused dataset which only holds imformation
#for people in India earning over 50K
If=df.loc[(df['salary']==">50K")&(df['native-country']=='India')]

In [269]:
If['occupation'].mode() #the most popular job for people in India who are earning >50K

0    Prof-specialty
Name: occupation, dtype: object

The most popular job for people in India who are earning over 50K is 0    Prof-specialty
Name: occupation, dtype: object